{% extends "templates/base.html" %}
{% block head %}
{% for language, feed in feed_list %}
<link rel="alternate" type="application/rss+xml" title="muchtrans.com" hreflang="{{ language }}" href="{{ feed }}"/>
{% endfor %}
{% endblock %}
{% block header %}
<div class="header">
  <div>
    <h1>Tennis</h1>
    <p>All about Tennis in this world.</p>
  </div>
  <div class="settings">
    <span>
      <input type="checkbox" id="darkmode"/><label for="darkmode">Dark mode</label>
    </span>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="index">
  <div class="row">
    <div class="column">
      <h1>List of translations</h1>
    </div>
    <div class="column">
    {% for month, articles in article_list %}
      <h3>{{ month }}</h3>
      <ul>
      {% for article in articles %}
        <li><a href="{{ article.url }}">{{ article.title }}</a></li>
      {% endfor %}
      </ul>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
<div class="footer">
  <p>Blog of Eesung Kim</p>
  </div>
{% endblock %}
